<style type="text/css">
    .box {
        margin-top: -0.50rem;
        margin-bottom: 5.4rem;
    }
    .image {
        background: url('./appSite/app.img/background.png') repeat;
    }
    .image img {
        width: auto;
        margin-left: 30%;
        cursor: pointer;
        -webkit-transition: 0.5s;
    }
    .content p {
        padding: 1.0rem;
        cursor: pointer;
    }
    .image:hover {
        box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.2);
    }
</style>
<div class="container">
    <div class="section">
        <div class="box">
            <div class="columns">
                <div class="column is-one-quarter">
                    <div class="card larger">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./appSite/app.img/Agenda_128.png" alt="Logo contribuinte..." >
                                <div class="content">
                                    <p class="subtitle is-5 has-text-centered">Cadastro de Contribuintes</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="card larger">
                        <div class="card-image">
                            <figure class="image has-text-centered">
                                <img src="./appSite/app.img/Note_128.png" alt="Logo Contribuinte..." >
                                <div class="content">
                                    <p class="subtitle is-5 has-text-centered">Fichas de Atividades</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="card larger">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./appSite/app.img/Quebrar_128.png" alt="Logo Alvar&aacute; de demoli&ccedil;&atilde;o..." >
                                <div class="content">
                                    <p class="subtitle is-5 has-text-centered">Alvar&aacute; de Demoli&ccedil;&atilde;o</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="card larger">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./appSite/app.img/Reforma_128.png" alt="Logo Alvar&aacute; de reforma..." >
                                <div class="content">
                                    <p class="subtitle is-5 has-text-centered">Alvar&aacute; de Reforma</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-quarter">
                    <div class="card larger">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./appSite/app.img/Termo_128.png" alt="Logo Termo de intima&ccedil;&atilde;o..." >
                                <div class="content">
                                    <p class="subtitle is-5 has-text-centered">Termo de Intima&ccedil;&atilde;o</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="card larger">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./appSite/app.img/Home_128_1.png" alt="Logo Carta de habite-se..." >
                                <div class="content">
                                    <p class="subtitle is-5 has-text-centered">Carta de Habite-se</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="card larger">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./appSite/app.img/Printer_128.png" alt="Logo Relat&oacute;rios..." >
                                <div class="content">
                                    <p class="subtitle is-5 has-text-centered">Relat&oacute;rios</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="card larger">
                        <div class="card-image">
                            <figure class="image">
                                <img src="./appSite/app.img/Info_128.png" alt="Logo Informa&ccedil;&otilde;es sobre o sistema..." >
                                <div class="content">
                                    <p class="subtitle is-5 has-text-centered">Informa&ccedil;&otilde;es do Sistema</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <a href="/logout" class="button is-rounded is-danger is-medium">
                <span class="icon is-medium">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                </span>
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>