<nav id="navTopo" class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="index.php">
            <img src="./appSite/app.img/LogPrefIpora_150.png"  alt="Logo da entidade">
        </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="index.php">
                <img src="./appSite/app.img/LogoFiscal_128.jpeg" alt="Logo da entidade">
            </a>
        </div>
    </div>
</nav>

